<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);">
  <div class="container">
    <h1 class="banner-title">Mister Cocktail</h1>
    <p>Change your life and learn to drink.</p>
    <a class="btn btn-light" href="#">Drink now</a>
  </div>
</div>

<div class="container">
  <h2>Cocktails Menu</h2>
  <br>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="cocktail-card">
       <!--  cl_image_tag or cl_image_path -->
       <a href= <% link_to cocktail_path(cocktail)%>, target="_blank" > <%= cl_image_tag(cocktail.photo.key)%></a>
       <h2 class="title-link"><%= cocktail.name %></h2>
<!--         <% if cocktail.photo.attached? %>
          <%=  cl_image_tag(cocktail.photo.key, height: 300, width: 330, crop: :fill) %>
        <% end %> -->
      </div>
    <% end %>
  </div>
  <%= link_to "Add +", new_cocktail_path, class: 'btn btn-light'%>

</div>
