<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);">
  <div class="container">
    <h1 class="banner-title">Mister Cocktail</h1>
    <p>Find your signature</p>
    <a class="btn btn-light" href="#">Drink now</a>
  </div>
</div>

<div class="container">
  <h2 class="heading">Cocktails Menu</h2>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.attached? %>
        <% background_url = cl_image_path cocktail.photo.key %>
      <% else %>
        <% background_url = 'https://source.unsplash.com/500x400/?cocktail' %>
      <% end %>
      <div class="cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('<%= background_url %>');">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
      </div>
    <% end %>
  </div>

  <div class="button-div"><%= link_to "Add +", new_cocktail_path, class: 'cocktail-btn'%></div>

</div>
