.button-div {
  height: 50px;
  margin: 20px auto;
}
.cocktail-btn {
  background-color: #DE9E36;
  border-radius: 2px;
  border-color: none;
  color: white;
  padding: 5px 25px;
  margin: 0px 5px;
}

.cocktail-btn:hover {
  background-color: #e4b15e;
  color: white;
  transition: 0.5s ease;
  text-decoration: none;
}

.ghost-btn {
  background-color: #65666a;
  border-radius: 2px;
  color: white;
  padding: 5px 25px;
  margin: 0px 5px;
}

.ghost-btn:hover {
  background-color: #8b8c8f;
  color: white;
  transition: 0.5s ease;
  text-decoration: none;
}
